BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 80

BreakBeforeBraces: Attach

SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpaceAfterCStyleCast: false

PointerAlignment: Right
ReferenceAlignment: Right

SortIncludes: true
IncludeBlocks: Preserve

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
